<div id=calling-div>
  <form id='calling-form'>
    Caller Number:<br>
    <input type="text" id="caller">
    <br>
    Receiver Number: <br>
    <input type="text" id="receiver">
  </form>
  <%= button_to "call", {:controller => :calls, :action => 'makecall'} %>
  <button id='hangup-button'>Hang Up</button>
</div>